<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.example.smartnote"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="15" />

    <application android:icon="@drawable/smartlogo5_2" 
        android:label="@string/app_name"
        android:theme="@style/Theme.Styled">
        <activity android:name=".SmartNoteActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.smartnote.CardCreator">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name = "android.intent.category.DEFAULT" />
                <data android:mimeType= "text/plain" />    
            </intent-filter>
        </activity>
        <activity android:name="com.example.smartnote.Card"/>
        <activity android:name="com.example.smartnote.MemQuiz"/>
        <activity android:name="com.example.smartnote.MCQuiz" />
        <activity android:name = "com.example.smartnote.StackMenu">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name = "android.intent.category.DEFAULT" />
   				<data android:mimeType= "text/plain" />            
            </intent-filter>
        </activity>
        <activity android:name="com.example.smartnote.QuizHistory" />
        <activity android:name = "com.example.smartnote.StacksGallery">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name = "android.intent.category.DEFAULT" />
   				<data android:mimeType= "text/plain" />            
            </intent-filter>
        </activity>
        <activity android:name = "com.example.smartnote.MemHistory" />
        <activity android:name = "com.example.smartnote.McHistory" />
        <activity android:name = "com.example.smartnote.Test"/>
        <activity android:name = "com.example.smartnote.ModeChooser" android:uiOptions = "splitActionBarWhenNarrow" />
        <activity android:name = "com.example.smartnote.CardManager"/>
        <activity android:name = "com.example.smartnote.CardEditor" />
        <activity android:name = "com.example.smartnote.SmartSearchView" />
        <activity android:name = "com.example.smartnote.CardSearch" />
        <activity android:name = "com.example.smartnote.StackSearch" />
        
    </application>
</manifest>